@media print {
    .no-print {
        display: none;
    }
    .yes-print {
        display: block;
    }
}

.dashboard {
    background: url(../assets/admin/layout/img/background.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
    width: 105%;
    margin: -25px -20px -10px -20px;
}

.dashboard-event {
    background-color: black;
    color: white;
    width: 105%;
    margin: -25px -20px -10px -20px;

}

.tips {
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
    width: 105%;
    margin: -25px -20px -10px -20px;
}

.tips-event {
    background-color: black;
    color: white;
    width: 105%;
    margin: -25px -20px -10px -20px;

}