
<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div ng-show="env.loading==false">
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="dashboard" translate>Home</a></li>
        <li class="active" translate>Tips</li>
    </ol>



    <div ng-show="user.isAthlete()">
        <div ng-show=" env.showTip==false"><h6 translate>Race tips will be ready soon</h6></div>

        <div class="row" ng-show="env.showTip==true && !user.isBasicPlan() ">

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption text-center">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="3">
                                    <h5 style="text-transform: uppercase; text-align: center;">
                                        <strong>{{env.race.nomcursa.nom}}</strong></h5>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <h6 align="center">{{env.race.nomcursa.distancia +" "}}km</h6>
                                </th>
                                <th><h6><strong>{{env.race.shortData}}</strong></h6>
                                </th>
                                <th><h6>{{env.race.nomcursa.desnivell+" "}}m+</h6>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr bgcolor="#FAFAFA" align="center">
                                <th colspan="3"><h3 translate>RACE PLANNING</h3></th>

                            </tr>
                            <tr>
                                <td colspan="3"><img class="img-responsive" alt=""
                                                     ng-src="{{env.race.get('nomcursa').get('image').url()}}" alt=""></td>
                            </tr>
                            <tr bgcolor="#FAFAFA" align="center">
                                <th colspan="3"><h3 translate>MAXIMUM HEART RATE ZONES</h3></th>

                            </tr>
                            <th><h3 style="font-weight: bold" translate>ZONE</h3></th>
                            <th><h3 style="font-weight: bold" translate>BPM</h3></th>
                            <th><h3 style="font-weight: bold" translate>SPEED</h3></th>
                            <tr align="center">
                                <td style="width: 30%"><h3>1</h3></td>
                                <td style="width: 30%"><h3>{{stat.zone1}}</h3></td>
                                <td style="width: 30%"><h3 translate>Light</h3></td>
                            </tr>
                            <tr align="center">
                                <td><h3>2</h3></td>
                                <td><h3>{{stat.zone2}}</h3></td>
                                <td><h3 translate>Medium</h3></td>
                            </tr>
                            <tr align="center">
                                <td><h3>3</h3></td>
                                <td><h3>{{stat.zone3}}</h3></td>
                                <td><h3 translate>High</h3></td>
                            </tr>
                            <tr align="center">
                                <td><h3>4</h3></td>
                                <td><h3>{{stat.zone4}}</h3></td>
                                <td><h3>MAX</h3></td>
                            </tr>

                            <tr bgcolor="#FAFAFA" align="center">
                                <th colspan="3"><h3 translate>RACE TIPS</h3></th>
                            </tr>
                            <tr align="center">
                                <td colspan="3"><h3>{{env.race.coachTip}}</h3></td>
                            </tr>

                            <tr bgcolor="#FAFAFA" align="center">
                                <th colspan="3"><h3 translate>COMMENTS RACE</h3></th>
                            </tr>
                            <tr align="center">
                                <td colspan="3"><h3>{{env.race.beforeCoachComment}}</h3></td>
                            </tr>

                            <tr bgcolor="#FAFAFA" ng-show="user.isPremiumPlan()">
                                <th colspan="3"><h3 translate>PSYCHOLOGIST ADVICE</h3></th>
                            </tr>
                            <tr ng-show="user.isPremiumPlan()">
                                <td colspan="3"><h3>{{env.race.psychologistAdvice}}</h3></td>
                            </tr>
                            <tr bgcolor="#FAFAFA" ng-show="user.isPremiumPlan()">
                                <th colspan="3"><h3 translate>NUTRITIONIST ADVICE</h3></th>
                            </tr>
                            <tr ng-show="user.isPremiumPlan()">
                                <td colspan="3"><h3>{{env.race.nutritionistAdvice}}</h3></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div ng-show="env.race==undefined">
                        <h5 style="padding:20px;width:auto;text-align: center;overflow: hidden; color: white" ;>
                            <strong style="text-transform: uppercase;color: white" translate>No races soon</strong>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>


        </div>

        <div class="portlet light tasks-widget" ng-show="env.showTip==true && user.isBasicPlan()">
            <p><h6 translate>Please upgrade your plan if you want to access...</h6></p>
        </div>

    </div>

    <div ng-show="user.isCoach()">
        <div class="row no-print">
            <div class="col-md-2">
                <input style="width: 240px!important;" type="text" class="input-large form-control"
                       ng-model="env.filters.userName"
                       placeholder="{{'User Name'|translate}}">
            </div>

            <div class="col-md-1">
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown"
                       data-target="#" href="">
                        <div class="input-append">
                            <input style="width: 100px!important;" type="text" class="input-large form-control" placeholder="{{'Date'|translate}}"
                                   value="{{env.filters.printData|date:'yyyy-MM-dd'}}">
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="env.filters.printData"
                                        data-datetimepicker-config="{ minView: 'day',dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                    </ul>
                </div>
            </div>


            <div class="col-md-2">
                <select class="form-control" required ng-model="env.filters.trainingPlan">
                    <option value="" translate>Select Training Plan</option>
                    <option value="basic" translate>basic</option>
                    <option value="pro" translate>pro</option>
                    <option value="premium" translate>premium</option>

                </select>
            </div>

            <div class="col-md-2">
                <button ng-click="env.filters={}" class="btn btn-default" translate>Reset</button>
            </div>
        </div>
        <br>
        <table class="table  table-striped" ng-show="env.races.length>0" at-table at-paginated at-list="env.races" at-config="config">
            <thead></thead>
            <tbody>
            <tr>
                <td class="no-print"  at-title="{{'Name'|translate}}"  >{{ item.get('user').get('username') }}</td>
                <td class="no-print"   at-title="{{'Plan'|translate}}"><h7 style="text-transform: uppercase">{{ item.get('user').get('trainingPlan') }}</h7></td>
                <td at-sortable  at-title="{{'Date'|translate}}" at-initial-sorting="asc" at-attribute="sortData" >{{ item.getCurseData() }}</td>
                <td  at-title="{{'Race'|translate}}">{{ item.get('nomcursa').get('nom') }}</td>
                <td at-title="{{'Km'|translate}}">{{ item.get('nomcursa').get('distancia') }}</td>
                <td at-title="{{'+Slope'|translate}}">{{ item.get('nomcursa').get('desnivell') }}</td>
                <td at-title="{{'RACE TIPS'|translate}}"><textarea class="form-control"
                              ng-disabled="userFactory.isBasicPlan(item.user) || item.isCoachTipsFull==true"
                              ng-model="item.coachTip" ></textarea></td>
                <td at-title="{{'COMMENTS RACE'|translate}}">
                    <textarea class="form-control" ng-disabled="item.isCoachTipsFull==true"
                              ng-model="item.beforeCoachComment" ></textarea></td>

                <td at-title="{{'PSYCHOLOGIST ADVICE'|translate}}"><textarea class="form-control"
                              ng-disabled="!userFactory.isPremiumPlan(item.user)  || item.isCoachTipsFull==true"
                              ng-model="item.psychologistAdvice" ></textarea></td>
                <td at-title="{{'NUTRITIONIST ADVICE'|translate}}"><textarea class="form-control"
                              ng-disabled="!userFactory.isPremiumPlan(item.user)  || item.isCoachTipsFull==true"
                              ng-model="item.nutritionistAdvice" ></textarea></td>

                <td class="no-print" at-title="{{'Save'|translate}}">
                    <button ng-show="!item.isCoachTipsFull"
                            class="btn btn-primary" translate ng-click="saveResult(item)" translate>Save
                    </button>

                    <button ng-show="item.isCoachTipsFull==true"
                            class="btn btn-primary" translate ng-click="item.isCoachTipsFull = false" translate>Edit
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
        <at-pagination at-list="env.races" at-config="config"></at-pagination>

    </div>
</div>